{{#each items}}
    <div class="item">
        <a href="/produtos/{{this.id}}">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>{{price}}</p>
        </a>
    </div>
{{/each}}
```