<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>Projetinho Handlebars</title>
    </head>
    <body>
        <header>Shopping do Tião</header>
        <h1>Shopping do Tião</h1>
        <p>Seja bem-vindo ao Shopping do Tião, o melhor shopping do Brasil!</p>
        <main>
            <div class="itemList">
                {{{body}}}
            </div>

            <!-- Handlebars will render the content here -->
        </main>
        <footer>
            Estamos com promoções incríveis em todas as lojas venha conferir!
        </footer>

    </body>

</html>